@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

button,
input,
textarea {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Optional: root typography */
body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}
